version: "3"
services: 
  mongo:
    container_name: mongo-container
    image: mongo:4
    restart: always
    volumes: 
      - ./data:/data/db
    ports: 
      - "27017:27017"
  api:
    container_name: api_container
    image: node:14
    working_dir: /usr/workspace/clean-node-api
    restart: always
    volumes: 
      - ./dist:/usr/workspace/clean-node-api/dist
      - ./package.json:/usr/workspace/clean-node-api/package.json
    ports:
      - "3333:3333"
      - "9222:9222"
    links:
      - mongo
    command: bash -c "npm install --only=prod && npm run debug"